body{
    margin: 0;
}


h1{
text-align: center;
}

main{
max-width: 1000px;
margin: 0 auto;
}

header, footer{
    background-image: url(../media/img/bg3.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;

}

main{
    background-image: url(../media/img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 160vh;

    
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}


/****************** Logo *********************/

.logo img {
    width: 60px;
    cursor: pointer;
}

.logo{
    display: flex;
    cursor: pointer;
    padding: 2rem;
}

.banner{
    background-color: red;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h2{
    border: 2px solid #222;
    padding: 0.5rem;
    font-weight: 900;
}

article{
    box-shadow: 2px 2px 2px 2px;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

 article img{
    width: 200px;
 }


 button{
    cursor: pointer;
    border: 1px solid transparent;
    background-color:transparent;
    font-size: 1rem;
    margin-top: 2rem;
 }

 button:hover{
    text-decoration: underline;

 }